In [69]:
from sklearn.linear_model import Lasso,Ridge,LinearRegression
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [70]:
df = pd.read_csv("Boston.csv")

In [71]:
df.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  506 non-null    int64
 1   crim        506 non-null    float64
 2   zn          506 non-null    float64
 3   indus       506 non-null    float64
 4   chas        506 non-null    int64
 5   nox         506 non-null    float64
 6   rm          506 non-null    float64
 7   age         506 non-null    float64
 8   dis         506 non-null    float64
 9   rad         506 non-null    int64
 10  tax         506 non-null    int64
 11  ptratio     506 non-null    float64
 12  black       506 non-null    float64
 13  lstat       506 non-null    float64
 14  medv        506 non-null    float64
dtypes: float64(11), int64(4)
memory usage: 59.4 KB

In [73]:
df.isnull().sum()

Unnamed: 0    0
crim          0
zn            0
indus         0
chas          0
nox           0
rm            0
age           0
dis           0
rad           0
tax           0
ptratio       0
black         0
lstat         0
medv          0
dtype: int64

In [74]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [75]:
x = df.drop("medv",axis=1)
y = df["medv"]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2,random_state=20)

In [76]:
Li = LinearRegression()
Li.fit(x_train,y_train)
print("test",Li.score(x_test,y_test))
print("train",Li.score(x_train,y_train))

test 0.7438826183113547
train 0.7360198858245186

In [77]:
La = Lasso(alpha=100)
La.fit(x_train,y_train)
print("test",La.score(x_test,y_test))
print("train",La.score(x_train,y_train))

test 0.17072475378228713
train 0.2353530093535371

In [78]:
Ra = Ridge(alpha=100)
Ra.fit(x_train,y_train)
print("test",Ra.score(x_test,y_test))
print("train",Ra.score(x_train,y_train))

test 0.7220676227163141
train 0.7082562415178415

In [79]:
model = Lasso(alpha=0.1)
model = Ridge(alpha=0.1)
model = LinearRegression()

# **********************************************************************************************

In [80]:
from sklearn.ensemble import RandomForestRegressor,AdaBoostClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,r2_score
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor

In [81]:
tree_reg1 = DecisionTreeRegressor(max_depth=3)
tree_reg1.fit(x_train,y_train) 
y1 = y_train - tree_reg1.predict(x_train)

print(tree_reg1.score(x_test,y_test))

0.6539156870961804

In [82]:
tree_reg2 = DecisionTreeRegressor(max_depth=4)
tree_reg2.fit(x_train,y1)
y2 = y1 - tree_reg2.predict(x_train)

print(tree_reg2.score(x_test,y_test))

-7.584383255327955

In [83]:
tree_reg3 = DecisionTreeRegressor(max_depth=5)
tree_reg3.fit(x_train,y2)
y3 = y2 - tree_reg3.predict(x_train)

print(tree_reg3.score(x_test,y_test))

-7.296084181804064

In [84]:
y_pred = sum(tree.predict(x_test) for tree in (tree_reg1,tree_reg2,tree_reg3))
print(r2_score(y_test,y_pred))

0.7891116707473089

In [85]:
tree_reg4 = DecisionTreeRegressor(max_depth=5)
tree_reg4.fit(x_train,y3)
print(tree_reg4.score(x_test,y_test))

-7.17379310798354

In [86]:
y_pred = sum(tree.predict(x_test) for tree in (tree_reg1,tree_reg2,tree_reg3,tree_reg4))
print(r2_score(y_test,y_pred))

0.7749072707546317